<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Todo Id</th>
        <th scope="col">User Id</th>
        <th scope="col">Title</th>
        <th scope="col">Completed</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{ todo.id }}</td>
        <td>{{ todo.userId }}</td>
        <td>{{ post.title }}</td>
        <td>{{ todo.completed }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
