<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <h3 class="text-center text-white">I want to: </h3>
            </li>
            <li class="list-inline-item">
              <select id='verbs' name='verbs' [(ngModel)]="verbSelect" (change)="changeVerb($event)">
                <option *ngFor="let operation of httpVerbs" [value]="operation"> {{operation}} </option>
              </select>
            </li>
            <li class="list-inline-item">
              <select id='resources' name='resources' [(ngModel)]="resourceSelect" (change)="changeResource($event)">
                <option *ngFor="let resource of resources" [value]="resource">{{resource}}</option>
              </select>
            </li>
          </ul>

          <ul class="text-center list-inline py-3" *ngIf="showExtractor">
            <li>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col" class="text-center text-white">Extract JSON</th>
                  <th scope="col" class="text-center text-white">Extract XML</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <select id='extractJson' name='extractJson'>
                      <option>false</option>
                      <option>true</option>
                    </select>
                  </td>
                  <td>
                    <select id='extractXml' name='extractXml'>
                      <option>false</option>
                      <option>true</option>
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-info" (click)="getResource($event)">GO!</button>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

