<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userDeleteForm="ngForm">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="number" [(ngModel)]="user.id"
               class="form-control"
               id="id"
               name="id"
               placeholder="Enter user Id"
               required #id="ngModel">
      </div>
      <div [hidden]="!id.pristine" class="alert alert-danger">User Id is required</div>
      <button type="submit" [disabled]="!userDeleteForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
